<div class="col-md-12">
	<div class="col-md-8">
		<br>
		<%= f.input :child_id, :label => "Child ID", placeholder: 'weight', class: 'col-md-4' %>
		<%= f.input :reason, :label => "Reason For Referral",placeholder: 'e.g visit to HTC', class: 'col-md-4'%>
		<%= f.input :confirmed_by, :label => "Confirmed By:", class: 'col-md-4' %>

	</div>
</div>