<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>NRMS</title>


</head>

<body>

    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="intro-message">
                        <h1>Nutrition Rehabilitation Management System</h1>
                        <h3>OTP Clinic</h3>

                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="/child/records" class="btn btn-default btn-lg">
                                    <i class="fa fa-plus fa-fw"></i>
                                     <span class="network-name">Registrations And Records</span>
                                </a>
                            </li>
                            
                            <li>
                                <a href="/child/check" class="btn btn-default btn-lg">
                                    <i class="fa fa-eye fa-fw"></i> 
                                    <span class="network-name">Check UP Sessions </span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default btn-lg">
                                    <i class="fa fa-child fa-fw"></i>
                                    <span class="network-name">Child Monitoring</span>
                                </a>
                            </li>




                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->




</body>

</html>