<div class="panel panel-transparent">
	<div class="panel-heading">
		<h4>WEEKLY SURVELLANCE SESSION</h4>
	</div>
	<div class="panel-body">
		<p>Hello People!</p>
		<p>This page displays the treatment plan</p>
		1. the number of RUTF sachets to be given <br>
		2. The scheduled date for next visit+
	</div>
</div>