<div class="jumbotron jumbotron-fluid">

  <div class="panel panel-transparent">
      <div class="panel-heading"><h3>EDIT SESSION CARD</h3></div>
      <div class="panel-body">
          <center><h4><em><%= @child.full_name.upcase %></h4></em></center>
          <hr>
            <i>Please EDIT the entries below with required data gathered during check-up...</i>
          <br />
          <div class="row">
            <%= simple_form_for :presenter, :url => url_for(:action => 'update', :controller => 'check-up', :id => @follow.id),
          :method => 'post'  do |f| %>

              <%= render(:partial => "form", :locals => {:f => f}) %>

              <div class="col-md-12 col-offset-8">
                  <%= f.button :submit, 'UPDATE ', class: 'btn btn-primary btn-lg' %>
              </div>
      <% end %>
          </div>
          
      </div>
      <!-- #link_to '<< Back', url_for(:action => 'index', :controller => 'child'), class: 'btn btn-primary btn-medium'%> -->
  </div>

</div>

