      <center><h3><%= @child.full_name.upcase %> (<em><%= @child.reg_number%></em>)</h3></center>
    <div class="panel panel-transparent">
      <div class="panel-body">
          <!-- 
              <span id="anthrop">Anthropometry</span>
              <span id="medic">Medical</span>
              <span id="nutrit">Nutrition</span> -->
          <div class="row" >
            <%= simple_form_for :presenter, :url => url_for(:action => 'create', :controller => 'check-up'),
                :method => 'post'  do |f| %>

              <%= render(:partial => "form", :locals => {:f => f}) %>

      
            <% end %>
          </div>
          
      </div>
      <!-- #link_to '<< Back', url_for(:action => 'index', :controller => 'child'), class: 'btn btn-primary btn-medium'%> -->
  </div>

</div>

