<div class="jumbotron"  >
<dl class="dl-horizontal">
     <div class="panel panel-primary panel-transparent">
        <div class="panel-heading">
        	<h4>WEEKLY SURVELLANCE SESSION</h4>
        </div>
        <center><h4><em><%= @child.full_name.upcase %></h4></em></center>
        <div class="panel-body">
            <div class="row">
              <h5>Anthropometric Assessment</h5>
            </div>

            <div class="row">
              <h5>Medical Assessment</h5>
            </div>

            <div class="row">
              <h5>Nutritional Assessment</h5>
            </div>
        </div>

    </div>

    
    </div>

</dl>
</div>

<style type="text/css">
  h5{
    text-decoration: underline;
  }
</style>