<!-- Calculation of RUTF needed
	A: Determine the number of OTP beneficiaries
		(total # enrolled at the end of month)

	B: Estimate the number of pots/packets needed per child per month
		Approx. # packets per week then per month

	C: Calculate the total number of pots needed per month
				= A * B

	D: Estimate the number of cartons needed per month
				(50 pots/cartons) then C/50

Stock should be reviewed after each OTP session following the first month as requirements
will vary depending on admissions

 -->


<div class="jumbotron">

	<div class="panel panel-transparent">

		<div class="panel-heading">
			<h3>Monthly Report Stock Sheet</h3>
 		</div>

 		<div class="container-fluid">
 	
			<table class="table table-bordered table-responsive">
				<thead>
					<tr>
						<th>Commodities</th>
						<th>Packaging and unit</th>
						<th>Stock on first day of the month</th>
						<th>Delivers received in a month</th>
						<th>Quantity distibuted to beneficiaries</th>
						<th>Quantity for cooking Demonstration</th>
						<th>Quantity lost</th>
						<th>stock on the last day of the month</th>
						<th>Request for the following month</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Maize meal</td>
						<td>Kg</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td>Lukuni Phala</td>
						<td>	Kg</td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<td></td>
							<td></td>
							<td></td>
					</tr>
					<tr>
						<td>
							Oil
						</td>
						<td>
							Ltr
						</td>
						<td>
						
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<t
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
						
						</td>
					</tr>
					<tr>
						<td>
							Pulses
						</td>
						<td>
							Kg
						</td>
						<td>
						
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
						
						</td>
						<td>
							
						</td>
						<td>
						
						</td>
					</tr>
					<tr>
						<td>
							DSM
						</td>
						<td>
							Kg
						</td>
						<td>
						
						</td>
						<td>
						
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
						
						</td>
						<td>
						
						</td>
					</tr>
					<tr>
						<td>
							Sugar
						</td>
						<td>
							Kg
						</td>
						<td>
							
						</td>
						<td>
						</td>
						<td>
						</td>
						<td>
						
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
					</tr>
					<tr>
						<td>
							F75
						</td>
						<td>
							Sachets
						</td>
						<td>
						
						</td>
						<td>
						
						</td>
						<td>
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
						
						</td>
						<td>
							
						</td>
					</tr>
					<tr>
						<td>
							F100
						</td>
						<td>
							Sachets
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
					</tr>
					<tr>
						<td>
							RUFT
						</td>
						<td>
							Kg
						</td>
						<td>
						
						</td>
						<td>
						
						</td>
						
						</td>
						<td>
							
						</td>
						<td>
						
						</td>
						<td>
						
						</td>
						<td>
							
						</td>
					</tr>
					<tr>
						<td>
							Plumpynut
						</td>
						<td>
							Sachets
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
							
						</td>
						<td>
						
						</td>
						<td>
					
						</td>
						<td>				
						</td>
					</tr>
					
				</tbody>
			</table>

		</div>
	</div>
 	
 	<%= link_to '<< Back', url_for(:action => 'index' ,:controller => 'program_overview') , :class => "btn btn-primary btn-default" %> 
	</div>
</div>