
<div class="jumbotron">
	<div class="panel panel-transparent">
		<div class="panel-heading">
			<h3>Transfer Summary</h3>
		</div>
	</div>
		<table class="table table-bordered">
		    <tbody>
		        <tr>
		       		<th colspan="4" style="text-align: center;">Transfers</th>
		        </tr>
				
				 <tr>
					<th> Age</th>
					<th>Gender</th>
			        <th>Hospital (G)</th>
					<th>OTP (H)</th>
		        </tr>
				
				
		        <tr>
		          	<th rowspan="2"> < 6 months</th>
		          	<td> Male</td>
		            <td> 0</td>
		            <td> 0</td>
		        </tr>


		        <tr>
		          	<td> Female</td>
		            <td> 0</td>
		            <td> 0</td>
		        </tr>

		        <tr>
		          	<th rowspan="2">6 - 59 months</th>
		           	<td> Male</td>
		            <td>0</td>
		            <td>0</td>
		        </tr>

		         <tr>
		           	<td> Female</td>
		            <td>0</td>
		            <td>0</td>
		        </tr>

		      	<tr>
		          	<th rowspan="2"> 60 months - 11years</th>
		           	<td> Male</td>
		          	<td>0</td>
		            <td>0</td>
		        </tr> 

		      	<tr>
		           	<td> Female</td>
		          	<td>0</td>
		            <td>0</td>
		        </tr> 
				
				<tr>
		            <th colspan="2">Total</th>
		            <td>0</td>
		            <td>0</td>
		        </tr>
		    </tbody>
		</table>
		
		<%= link_to '<< Back', url_for(:action => 'index' ,:controller => 'program_overview') , :class => "btn btn-primary btn-default" %> 
 </div>

