


<div class="container-fluid ">
	

<div class="jumbotron">
	<div class="panel panel-transparent">
		<div class="panel-heading">
		<h3>Treatment & Referrals Summary</h3>
		</div>

		</div>
		<br>

		<%= link_to '<< Back', url_for(:action => 'index' ,:controller => 'program_overview') , :class => "btn btn-primary btn-default" %> 
 </div>

 </div>